{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <p style="
        margin: 10px;
        background-color: #ccffd8;
        display: block;
        float: left;
        padding: 10px;
        border-radius: 7px;
     ">
        Lucky Numbers: {{ luckyNumberList }}
    </p>
{% endblock %}